//.page-footer {
//    font-size: 13px;
//    text-align: center;
//    line-height: 100%;
//    font-family: var(--code-font);
//    color: var(--text-1);
//    padding: 1em;
//    margin: 5rem 0px 1rem 0px;
//    background-color: var(--bg-0);
//}

.page-footer {
    text-align: center;
    padding: 1em;
    font-size: 13px;
    line-height: 100%;
    font-family: var(--code-font);
    color: var(--text-1);
    background-color: var(--bg-0);
}

.page-footer a {
    text-decoration: none;
    color: inherit;
}

.page-footer p {
    margin: 0;
}
