.cards {
  display: grid;
  grid-template-rows: auto;
  gap: 24px;
  padding: 12px 0;
}

@media all and (min-width: 640px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

@media all and (max-width: 640px) {
  .cards {
    grid-template-columns: repeat(auto-fill, 1fr);
  }
}

.card {
  min-height: 100px;
  background: var(--bg-1);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.2s, transform 0.2s;

  &:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);

    .card-title a {
      color: var(--primary-color);
    }
  }
}

.card-info {
  padding: 0 24px 24px 24px;
}

.card-title {
  margin-top: 0.7em;

  a {
    border-bottom: none;
    color: var(--text-0);
    position: relative;
    z-index: 1;
    transition: color 0.12s;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 0;
      border-radius: inherit;
    }
  }
}

.card-image {
  border: unset;
  width: 100%;
}

.card-image-placeholder {
  height: 12px;
  width: 100%;
}

.card-description {
  margin-top: 0.5em;
  overflow: hidden;
}

@media all and (max-width: 720px) {
  .cards {
    gap: 18px;
  }
}
